<?xml version="1.0"?>
<launch>
	<!-- Load parameters from relayboard_v3.yaml -->
	<rosparam command="load" file="/home/neobotix/ros_workspace/src/neo_relayboard_v3/config/sample.yaml" />

	<!-- Start relayboardv3_node -->
	<node pkg="neo_relayboard_v3" type="relayboardv3_node" name="neo_relayboard_v3_node" output="screen" />

</launch>
